body{
    margin: 0;
    padding: 0;
}

textarea{
    width: 99%;
}

#panel{
    height: 90px;
    min-width: 500px;
    padding: 5px;
    margin: 2px;
    border-top: 1px solid #b6babf;
    border-bottom: 1px solid #b6babf;
    background: #FFF;
    overflow: hidden;
    text-align:left;
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 14px;
    color:black;
}

#panel a{
    color: black;
    text-decoration:none;
}

#panel select{
    width: 100%;
}

#panel span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #777;
}

#panel>button{
    padding-bottom: 88px  !important;
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 14px;
}

.minipanel{
	height: 88px;
	width: 200px;
	position: relative;
	float: left;
	padding: 0;
	text-align: left;
}

.sep{
    width: 0;
    height: 75px;
	position: relative;
	margin: 0 5px;
	float: left;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #fff;
}

.pbutton{
    padding: 4px 6px;
	border: 1px solid transparent;
	background: #FFF;
}

.pbutton:hover{
    border: 1px solid #F1C43F;
	background: #fdeeb3;
	cursor: pointer;
}

.pbutton-big{
	height: 88px;
	width: 80px;
	float: left;
	padding: 0;
	text-align: center;
}

.pbutton-big>img{
    position: relative;
    top:0;
}

#out{
    position: relative;
    width: 100%;
    bottom: 1.2em;
    margin-bottom: -1em;
    color: #BeEcB1;
    font-size: 2em;
    text-align: center;
}